header {
    padding: 5px;
    background-color: #00274c;
    left:0;
    bottom: 0;
    width: 100%;
    margin: 0px !important;
}

.headthing {
    padding: 0px;
    width: inherit;
}

header img {
    padding: 5px;
    height: 40px;
}

#content {
    height:100%;
}

.row.content {
    height: auto;
    padding: 0px;
}

/* side navigation */
.sidenav {
    background-color: #35526f;    
}

#map, #mapbox-legend {
    width: 100%;
    height: 600px;
    position: relative; /* needed for legend to appear on top */
}

#legend-background {
    fill: white;
    fill-opacity: 0.9;
}

#legend-title {
    font-size: 1.5em;
}

.mapboxgl-popup {
    max-width: 400px !important;
    font-family: 'Arial';
    font-size: 10pt;
}

.mapboxgl-popup-close-button {
    padding: 0px !important;
}

/* basemap toggle */
#menu {
    position: absolute;
    top: 10px;
    background: #eee;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
